<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppName" value="丁豪客流分析" />

    <add key="MaxSignalReadSpeed" value="50000" />
    <add key="AreaCodeFile" value="E:\数据\元征\文件\电话区号扇区对照文件.txt" />

    <add key="SignalZipFileDir" value="E:\数据\元征\文件\压缩信令文件" />
    <add key="SignalZipFileDealedDir" value="E:\数据\元征\文件\已处理压缩信令文件" />
    <add key="SignalReadDir" value="E:\数据\元征\文件\信令文件未处理" />
    <add key="SignalReadDirEnd" value="E:\数据\元征\文件\信令文件已处理" />
    <add key="SignalSortSaveDir" value="E:\数据\元征\文件\排序文件" />

    <add key="NetListenPort" value="8296" />
    
    
  </appSettings>
</configuration>